body {
  font-family: 'Karla', sans-serif;
  background-color: #FDF4EF;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hamburger header header header header header header header";
  background-color: #FDF4EF;
}

  .hamburger { 
    grid-area: hamburger;
    background-color: darkgoldenrod; 
  }

  .header { 
    grid-area: header; 
    background-color: #FDF4EF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }


.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .pic { grid-area: 1 / 1 / 4 / 9; }

  .text { 
    grid-area: 2 / 1 / 3 / 4; 
    font-size: 50px;
    padding-left: 40px;
    padding-top: 60px;
    color: #776243;
  }

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .about { 
    grid-area: 1 / 1 / 4 / 9; 
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #F7A296;
  }

  .browndash1 { 
    grid-area: 1 / 1 / 2 / 9; 
    margin-left: auto;
    margin-right: auto;
  }

  .browndash2 { 
    grid-area: 3 / 1 / 4 / 9; 
    margin-left: auto;
    margin-right: auto;
  }
  
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .butterpic { 
    grid-area: 1 / 1 / 5 / 5; 
  }

  .buttertext { 
    grid-area: 1 / 5 / 5 / 9; 
    padding-top: 620px;
  }

  .btext { 
    grid-area: 4 / 5 / 5 / 8; 
    font-size: 40px;
    padding-left: 30px;
    padding-top: 50px;
    color: #D9B799;
  }

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
  
  .serum-text { 
    grid-area: 1 / 1 / 5 / 5; 
    padding-left: 465px;
    padding-top: 570px;
  }
  
  .serum-pic { grid-area: 1 / 5 / 5 / 9; }
  
  .stext { grid-area: 4 / 2 / 5 / 5; 
    font-size: 40px;
    color: #D9B799;
    text-align: right;
    padding-right: 40px;
    padding-top: 50px;
  }

.container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  }
  
  .quotetext { 
    grid-area: 1 / 1 / 5 / 9; 
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    color: #F7A296;
  }
  
  .browndashh { 
    grid-area: 1 / 4 / 2 / 6; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .browndashhh { 
    grid-area: 4 / 4 / 5 / 6;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .quote1 { 
    grid-area: 2 / 1 / 3 / 2; 
    padding-left: 80px;
  }
  
  .quote2 { 
    grid-area: 3 / 8 / 4 / 9; 
  }
  