body {
  font-family: 'Karla', sans-serif;
  background-color: #FDF4EF;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hamburger header header header header header header header";
  background-color: #FDF4EF;
}

  .hamburger { 
    grid-area: hamburger;
    background-color: darkgoldenrod; 
  }

  .header { 
    grid-area: header; 
    background-color: #FDF4EF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }


.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .pic { grid-area: 1 / 1 / 4 / 9; }

  .text { 
    grid-area: 2 / 1 / 3 / 4; 
    font-size: 50px;
    padding-left: 40px;
    padding-top: 60px;
    color: #776243;
  }

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .about { 
    grid-area: 1 / 1 / 4 / 9; 
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #F7A296;
  }

  .browndash1 { 
    grid-area: 1 / 1 / 2 / 9; 
    margin-left: auto;
    margin-right: auto;
  }

  .browndash2 { 
    grid-area: 3 / 1 / 4 / 9; 
    margin-left: auto;
    margin-right: auto;
  }
  
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

  .butterpic { 
    grid-area: 1 / 1 / 5 / 5; 
  }

  .buttertext { 
    grid-area: 1 / 5 / 5 / 9; 
    padding-top: 620px;
  }

  .btext { 
    grid-area: 4 / 5 / 5 / 8; 
    font-size: 40px;
    padding-left: 30px;
    padding-top: 50px;
    color: #D9B799;
  }

.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
  
  .serum-text { 
    grid-area: 1 / 1 / 5 / 5; 
    padding-left: 465px;
    padding-top: 570px;
  }
  
  .serum-pic { grid-area: 1 / 5 / 5 / 9; }
  
  .stext { grid-area: 4 / 2 / 5 / 5; 
    font-size: 40px;
    color: #D9B799;
    text-align: right;
    padding-right: 40px;
    padding-top: 50px;
  }

.container5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  }
  
  .quotetext { 
    grid-area: 1 / 1 / 5 / 9; 
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    color: #F7A296;
  }
  
  .browndashh { 
    grid-area: 1 / 4 / 2 / 6; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .browndashhh { 
    grid-area: 4 / 4 / 5 / 6;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .quote1 { 
    grid-area: 2 / 1 / 3 / 2; 
    padding-left: 80px;
  }
  
  .quote2 { 
    grid-area: 3 / 8 / 4 / 9; 
  }

.container6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 300px;
	height: 300px;
	margin: auto;
  background: #FDF4EF
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "login_bar login_bar login_bar login_bar login_bar nlogin_bar login_bar login_bar";
}
  

.login_bar {
	width: 300px;
	height: 50px;
	background: #FDF4EF;
	border-radius: 10px;
	top: 50%;
	position: relative;
  z-index: 1;
	overflow: hidden;
}

.login {
	background: transparent;
	position: absolute;
	height: 100%;
	width: 190px;
	padding-left: 10px;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	z-index: 10;
	-webkit-transition: transform 0.2s ease-in-out 0s;
	   -moz-transition: transform 0.2s ease-in-out 0s;
	     -o-transition: transform 0.2s ease-in-out 0s;
	        transition: transform 0.2s ease-in-out 0s;
}

.login_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.subscribe_button:hover{
	background-color: #222A33;
	cursor:pointer;
}

.subscribe_button {
	background: #171D23;
	position: absolute;
	top: -50px;
	left: 200px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 150px;
	width: 100px;
	text-align: center;
	line-height: 150px;
	vertical-align: middle;	
	color: white;
	-webkit-transition: transform 0.5s ease 0s;
	   -moz-transition: transform 0.5s ease 0s;
	     -o-transition: transform 0.5s ease 0s;
	        transition: transform 0.5s ease 0s;
}

.subscribe_button_active{
	-webkit-transform: translateY(50px);
	   -moz-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	     -o-transform: translateY(50px);
	        transform: translateY(50px);
}

.subscribing{
	background: #CDD4DC;
	height: 100%;
	width: 300px;
	z-index: 5;
	position: absolute;
	left:-300px;
	display: inline-block;
	-webkit-transition: transform 1s ease 0s ;
	   -moz-transition: transform 1s ease 0s ;
	     -o-transition: transform 1s ease 0s ;
	        transition: transform 1s ease 0s ;
}

.subscribing_active {
	-webkit-transform: translateX(300px);
	   -moz-transform: translateX(300px);
	    -ms-transform: translateX(300px);
	     -o-transform: translateX(300px);
	        transform: translateX(300px);
}

.thanks{
	background: transparent;
	height: 100%;
	width: 300px;
	z-index: 5;
	text-align: left;
	line-height: 50px;
	vertical-align: middle;
	padding-left: 10px;
	position: absolute;
	top:50px;
	display: inline-block;
	-webkit-transition: transform 0.5s ease 0s ;
	   -moz-transition: transform 0.5s ease 0s ;
	     -o-transition: transform 0.5s ease 0s ;
	        transition: transform 0.5s ease 0s ;
}

.thanks_active {
	-webkit-transform: translateY(-50px);
	   -moz-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	     -o-transform: translateY(-50px);
	        transform: translateY(-50px);
}

  